extends layout

block content
  link(rel="stylesheet", href="/stylesheets/todo_main.css")
  script.
    var todo_data = `#{todo_data}`
    console.log(todo_data)

  script(src="/javascripts/todo_main.js")
 
  section.todo_main
    h1(id="main_title",onclick="main_title_click()") MY TODO LIST
    //- 표준적인 코드는 form에 method와 액션을 지정하여 정확히 서버의 어떤 url로
    //- 데이터를 전송할 것인지 명시한다
    //- action없이 form을 사용하는 것을 계속 연습중인 것

    form(method="POST")
      input(type="text", name="todo", id="todo",placeholder="하고싶은 일")

      //- 저장버튼 눌렀을 때 하고싶은 일 input박스에 내용을 입력하지 않았으면
      //- 사용자에게 경고메세지를 보여주고 내용을 입력하도록 하는 유효성 검사를
      //- 버튼의 타입을 button으로 설정하고 
      button(type="button",id="btn-save") 저장

    article.todo_list
      ul
        li 온라인 수업
        li TodoList 만들기
        li 오늘의 과제
        li 내일은 금요일
        li 다음주면 땡
